//global
$primaryColor: #1BADFA;
$successColor: #0DBC8D;
$primaryText: #404040;
$secondaryText: #7F7F7F;
$borderRadius: 8px;

$primaryBackground: #F3FBFF;
$successBackground: #E6F8F3;
$pink: #D10099;
$green: #49CDA9;
$dropshadowColor: #00A1F529;
$borderColor: #F2F2F2;
$tableHeaderBG: #F2F2F2;

$chartPink: #DC40B2;

//button
$buttonBorderRadius: 48px;
$buttonHeight: 35px;